* {box-sizing: border-box;}

body {margin: 0;
      padding: 0;
    background-color: #B9AEC2}

.navbar {display: flex;
         justify-content: space-between;
         align-items: center;
         background-color: #294D4A;
         color: white;}

.title {font-size: 4rem;
        margin: 1rem;}
.title li {list-style: none;
                          }

.title li a {text-decoration: none;
                color: white;
                display: block;}
.title li:hover {background-color: #386B67;}


.navbar-links ul {margin: 0;
                  padding: 0;
                  display: flex;}

.navbar-links li {list-style: none;
                  }
.navbar-links li a {text-decoration: none;
                    color: white;
                    padding: 2rem;
                    display: block;
                    font-size: 1.5rem
            }
.navbar-links li:hover {background-color: #386B67;} /*when hover over nav button it highlights it*/

h4 {margin: 6px;
    padding: 1rem;
font: bold 32px "Fira Sans", serif;}


p {font:"Fira Sans", sans-serif;
    font-size: 22px;
    margin: 1rem;}

img{margin: .4rem;
border: 1rem solid #594A55};
figcaption{margin: .2rem}/*caption*/

.column {
  float: left;
  width: 33.33%;
  padding: 5px;/*putting the pics sisde by side*/
}

.row::after {
  content: "";
  clear: both;
  display: table;/*putting picks side by side*/
}

.current {background-color: #4D938D}
